<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dev_bd.khanjk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon"
        tools:targetApi="m">
        <activity android:name="com.dev_bd.khanjk.SpinActivity"/>

        <meta-data
            android:name="com.startapp.sdk.APPLICATION_ID"
            android:value="@string/startapp_app_id" />

        <activity
            android:name="com.dev_bd.khanjk.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dev_bd.khanjk.WebActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.dev_bd.khanjk.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.dev_bd.khanjk.TaskActivity"
            android:label="Task"
            android:parentActivityName="com.dev_bd.khanjk.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="applovin.sdk.key"
            android:value="f6Lt3CHsi4omms5Po9oIId07JCekgdSqRrHhr8wyTQp3X3Tb3Th4VF1Oc7i44EBFABtM0GL6n1_1bQPDmiRlP3" />

    </application>

</manifest>